		body {
			text-align: center;
			background-color: #303030;
		}
		main {
			display: inline-block;
			background-color: #424242;
			color: rgba(255, 255, 255, 0.7);
			border-radius: 8px;
		}
		h1 {
			background-color: #212121;
			font-size: 50px;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
			margin-top: 0px;
		}
		.visionboard {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			margin-right: 5px;
			margin-left: 5px;
		}
		img {
			width: 150px;
			height: 150px;
			border-radius: 8px;
			padding: 5px;
			border-width: medium;
			border-color: #212121;
		}
