		body {
			text-align: center;
			background-color: gray;
		}
		img {
			width: 325px;
			height: 250px;
			border-radius: 20px;
		}
		div {
			background-color: dimgray;
			margin-left: 500px;
			margin-right: 500px;
		}
		ul > li {
			display: run-in;
		}
		li {
			list-style-type: circle;
			text-align: left;
			margin-left: 20px;
		}
